doctype
html
  head
    title Blog System
    link(href="/css/site.css" rel="stylesheet")
  body
    .container
      ul.menu
        li
          a(href="/") Home
        li
          a(href="/about") About
        li.delimiter
        if (currentUser)
          li= currentUser.username
          li
            form#logout-form(action="/users/logout" method="post")
            a(href="javascript:document.getElementById('logout-form').submit()") Logout
        else
          li
            a(href="/users/register") Register
          li
            a(href="/users/login") Log In
        if (globalError)
          h3= globalError
      block main-content